$tesla-white: #FFFFFF;
$tesla-even-cell: #FAFCFC;
$tesla-off-white: #FAFAFA;
$tesla-silver: #E9E9E9;
$tesla-light-gray: #D8D8D8;
$tesla-charcoal: #676767;
$tesla-black: #000000;
$tesla-toolbar: #005a9e;
$tesla-action-prime: #26a3f3;
$tesla-red: #C07474;
$tesla-light-red: #FFCECE;
$tesla-shadow-alpha: 0.25;